.inscription-form{
    padding : 20px;
    width : 100%;
    h3{
        font-family: $font1;
        text-align: center;
        margin-top : 10px;
        font-weight: bold;
    }
    form{
        padding: 10px 30px;
        margin-top: 30px;
        .top-section{
            width : 100%; 
            height :110px;
            display: grid;
            grid-template-columns:  repeat(3,4fr);
            grid-template-rows: 6fr 6fr ;
            justify-items: center;
            border : 1px solid $light-grey;
            border-radius: 5px;
            padding : 10px;
        .form-group{
            display: flex;
            padding : 0; 
            margin : 0;
            label {
                font-family: $font1;
            }
            input{
                width: 10em;
                margin: 0 30px;
            }
            
        }
        
       
    }
    }
    p{
        text-align : right; 
        font-family: $font1;
        font-weight: bold;
        margin : 20px 0;
    }
    .benificient{
        border : 1px solid $light-grey;
        border-radius: 5px;
        width : 100%; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(13, 50px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        direction: ltr!important;
        justify-items: center;
        align-items: center;
        .div1 { grid-area: 1 / 3 / 2 / 4;  align-self: stretch;place-self: center; width:100%;}
        .div2 { grid-area: 1 / 2 / 2 / 3;align-self: stretch;place-self: center; width:100%;}
        .div3 { grid-area: 1 / 1 / 2 / 2;align-self: stretch;place-self: center; width:100%;}
        .div4 { grid-area: 2 / 3 / 3 / 4;align-self: stretch;place-self: center;width:100%; }
        .div5 { grid-area: 2 / 2 / 3 / 3;align-self: stretch;place-self: center;width:100%; }
        .div6 { grid-area: 3 / 3 / 4 / 4;align-self: stretch;place-self: center;width:100%; }
        .div7 { grid-area: 3 / 2 / 4 / 3;align-self: stretch;place-self: center;width:100%; }
        .div8 { grid-area: 4 / 3 / 5 / 4;align-self: stretch;place-self: center;width:100%; }
        .div9 { grid-area: 4 / 2 / 5 / 3;align-self: stretch;place-self: center;width:100%; }
        .div10 { grid-area: 4 / 1 / 5 / 2;align-self: stretch;place-self: center; width:100%;text-align:center;}
        .div11 { grid-area: 5 / 3 / 6 / 4;align-self: stretch;place-self: center;width:100%; }
        .div12 { grid-area: 5 / 2 / 6 / 3;align-self: stretch;place-self: center;width:100%; }
        .div13 { grid-area: 6 / 3 / 7 / 4;align-self: stretch;place-self: center;width:100%; }
        .div14 { grid-area: 6 / 2 / 7 / 3;align-self: stretch;place-self: center;width:100%; }
        .div15 { grid-area: 7 / 3 / 8 / 4;align-self: stretch;place-self: center;width:100%; }
        .div16 { grid-area: 7 / 2 / 8 / 3;align-self: stretch;place-self: center;width:100%; }
        .div17 { grid-area: 8 / 3 / 9 / 4;align-self: stretch;place-self: center;width:100%; }
        .div18 { grid-area: 8 / 2 / 9 / 3;align-self: stretch;place-self: center;width:100%; }
        .div19 { grid-area: 8 / 1 / 9 / 2;align-self: stretch;place-self: center;width:100%; }
        .div20 { grid-area: 9 / 3 / 10 / 4; align-self: stretch;place-self: center;width:100%;}
        .div21 { grid-area: 9 / 2 / 10 / 3; align-self: stretch;place-self: center;width:100%;}
        .div22 { grid-area: 9 / 1 / 10 / 2; align-self: stretch;place-self: center;width:100%;}
        .div23 { grid-area: 10 / 3 / 11 / 4;align-self: stretch;place-self: center;width:100%; }
        .div24 { grid-area: 10 / 2 / 11 / 3; align-self: stretch;place-self: center;width:100%;}
        .div25 { grid-area: 11 / 2 / 12 / 3;align-self: stretch;place-self: center;width:100%;text-align:center; }
        .div26 { grid-area: 12 / 2 / 13 / 3;align-self: stretch;place-self: center;width:100%; }
        .div27 { grid-area: 13 / 3 / 14 / 4;align-self: stretch;place-self: center;width:100%; }
        .div28 { grid-area: 13 / 2 / 14 / 3;align-self: stretch;place-self: center;width:100%; }
        .div29 { grid-area: 13 / 1 / 14 / 2;align-self: stretch;place-self: center;width:100%; }
        
    }
    .form-group{
        display: flex;
        padding: 10px;
        align-items: center;
        margin-top : 15px;
        direction: rtl;
        justify-content: space-between;
        width : 100%;
        label {
           width : 100%;
           font-family: $font1;
           text-align: right;
        }
        input{
            width : 100%;
            margin : 0 30px 0 0;
        }
       
    }
    .dropdown{
        width : 280px !important;
    }
    .fr{
        direction: ltr!important;
         display: flex;
        padding: 10px;
        align-items: center;
        margin-top : 15px;
        direction: rtl;
        justify-content: space-between;
        width : 100%;
        label {
           width : 100%;
           font-family: $font1;
           text-align: left;
        }
        input{
            width : 100%;
        }
        
    }
    .buttons-section{
        width : 100%; 
        text-align: center;
        margin : 20px 0;
        .btn{
            width: 150px;
            height: 50px;
            font-family: $font1;
            
        }
    }
    .send{
        display : none;
    }
    .second-page{
        display : none;
    }
   
    .parent{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border : 1px solid $light-grey;
        border-radius: 5px;
        width : 100%; 
        direction: ltr!important;
        justify-items: center;
        align-items: center;
        padding-bottom: 30px;
        .div1 { grid-area: 1 / 3 / 2 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div2 { grid-area: 1 / 2 / 2 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div3 { grid-area: 1 / 1 / 2 / 2;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div4 { grid-area: 2 / 3 / 3 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div5 { grid-area: 3 / 3 / 4 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div6 { grid-area: 4 / 3 / 5 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div7 { grid-area: 4 / 2 / 5 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div8 { grid-area: 4 / 1 / 5 / 2;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div9 { grid-area: 5 / 3 / 6 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div10 { grid-area: 5 / 2 / 6 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div11 { grid-area: 6 / 2 / 7 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div12 { grid-area: 7 / 3 / 8 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div13 { grid-area: 7 / 2 / 8 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div14 { grid-area: 7 / 1 / 8 / 2;align-self: stretch;place-self: center; width:100%;height:50px; }
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border : 1px solid $light-grey;
        border-radius: 5px;
        width : 100%; 
        direction: ltr!important;
        justify-items: center;
        align-items: center;
        padding-bottom: 30px;

        .div1 { grid-area: 1 / 3 / 2 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div2 { grid-area: 1 / 2 / 2 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div3 { grid-area: 2 / 3 / 3 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div4 { grid-area: 2 / 2 / 3 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div5 { grid-area: 3 / 3 / 4 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div6 { grid-area: 4 / 3 / 5 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div7 { grid-area: 4 / 2 / 5 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div8 { grid-area: 5 / 2 / 6 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div9 { grid-area: 6 / 3 / 7 / 4;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div10 { grid-area: 6 / 2 / 7 / 3;align-self: stretch;place-self: center; width:100%;height:50px; }
        .div11 { grid-area: 6 / 1 / 7 / 2;align-self: stretch;place-self: center; width:100%;height:50px; }
    }
}