/* ======  CSS RESET  ====== */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
body {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

/* ======  IMPORTS  ====== */
/* === fonts === */
/* === colors === */
.inscription {
  width: 40%;
}

.inscription h3, .inscription h4 {
  font-family: "Tajawal", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.inscription h6 {
  margin-top: 30px;
  font-family: "Tajawal", sans-serif;
  text-align: center;
  margin: 10px;
}

.inscription form {
  margin-top: 30px;
  border: 1px solid #aaa;
  padding: 20px !important;
}

.inscription form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inscription form .form-group input {
  width: 15em;
  margin: 0 30px;
}

.inscription form #emailHelp {
  text-align: center;
  font-family: "Tajawal", sans-serif;
}

.inscription form .send {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.inscription form .send button {
  width: 100px;
}

.inscription .confirmed {
  font-family: "Tajawal", sans-serif;
  text-align: center;
}

.inscription-form {
  padding: 20px;
  width: 100%;
}

.inscription-form h3 {
  font-family: "Tajawal", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.inscription-form form {
  padding: 10px 30px;
  margin-top: 30px;
}

.inscription-form form .top-section {
  width: 100%;
  height: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4fr)[3];
      grid-template-columns: repeat(3, 4fr);
  -ms-grid-rows: 6fr 6fr;
      grid-template-rows: 6fr 6fr;
  justify-items: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.inscription-form form .top-section .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.inscription-form form .top-section .form-group label {
  font-family: "Tajawal", sans-serif;
}

.inscription-form form .top-section .form-group input {
  width: 10em;
  margin: 0 30px;
}

.inscription-form p {
  text-align: right;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  margin: 20px 0;
}

.inscription-form .benificient {
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (50px)[13];
      grid-template-rows: repeat(13, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  direction: ltr !important;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inscription-form .benificient .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div9 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div10 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  text-align: center;
}

.inscription-form .benificient .div11 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div12 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div13 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 6 / 3 / 7 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div14 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div15 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 7 / 3 / 8 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div16 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 8 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div17 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 8 / 3 / 9 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div18 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 8 / 2 / 9 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div19 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 8 / 1 / 9 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div20 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 9 / 3 / 10 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div21 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 9 / 2 / 10 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div22 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 9 / 1 / 10 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div23 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 10 / 3 / 11 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div24 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 10 / 2 / 11 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div25 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 11 / 2 / 12 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  text-align: center;
}

.inscription-form .benificient .div26 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 12 / 2 / 13 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div27 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 13 / 3 / 14 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div28 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 13 / 2 / 14 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .benificient .div29 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 13 / 1 / 14 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
}

.inscription-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  direction: rtl;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.inscription-form .form-group label {
  width: 100%;
  font-family: "Tajawal", sans-serif;
  text-align: right;
}

.inscription-form .form-group input {
  width: 100%;
  margin: 0 30px 0 0;
}

.inscription-form .dropdown {
  width: 280px !important;
}

.inscription-form .fr {
  direction: ltr !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  direction: rtl;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.inscription-form .fr label {
  width: 100%;
  font-family: "Tajawal", sans-serif;
  text-align: left;
}

.inscription-form .fr input {
  width: 100%;
}

.inscription-form .buttons-section {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.inscription-form .buttons-section .btn {
  width: 150px;
  height: 50px;
  font-family: "Tajawal", sans-serif;
}

.inscription-form .send {
  display: none;
}

.inscription-form .second-page {
  display: none;
}

.inscription-form .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
  direction: ltr !important;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.inscription-form .parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div9 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div10 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div12 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 7 / 3 / 8 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div13 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 8 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .parent .div14 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 8 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
  direction: ltr !important;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.inscription-form .contact .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div8 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div9 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 6 / 3 / 7 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div10 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}

.inscription-form .contact .div11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 7 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  place-self: center;
  width: 100%;
  height: 50px;
}
/*# sourceMappingURL=global.css.map */